:root {
	--top-height: 62px;
}

.headerContainer{
	position: sticky;
	top: 0;
	z-index: 20;
}

.topHeader {
	text-align: center;
	width: 100%;
	height: var(--top-height);
	background: transparent linear-gradient(180deg, #ffffff 0%, #f5f5f5 100%) 0%
		0% no-repeat padding-box;
	opacity: 1;
	padding-right: 24px;
	padding-left: 24px;
	margin-right: auto;
	margin-left: auto;

}


.tamin {
	box-sizing: border-box;
	float: left;
	height: var(--top-height);
	width: fit-content;
	font-size: 25px;
	text-align: right;
	vertical-align: middle;
	line-height: var(--top-height);
	margin-left: 80px;
	color: #343434;
}

.blog {
	box-sizing: border-box;
	float: left;
	height: var(--top-height);
	width: fit-content;
	font-size: 25px;
	text-align: right;
	vertical-align: middle;
	line-height: var(--top-height);
	margin-left: 60px;
	color: #343434;
}

.logotext {
	line-height: 25px;
	margin-right: 5px;
}

.logo {
	width: 24px;
	height: 24px;
	opacity: 1;
	vertical-align: middle;
}

.mainHeaderGrid {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	box-sizing: border-box;
	width: 100%;
	height: 107px;
	background: #ffffff 0% 0% no-repeat padding-box;
	box-shadow: 0px 2px 15px #0000000f;
	opacity: 1;
	padding-right: 24px;
	padding-left: 24px;
	margin-right: auto;
	margin-left: auto;
}

.item1 {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 0px;
	padding-left: 20px;
}

.item2 {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-right: 10px;
	padding-left: 50px;
}

.item3 {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-right:20px;
}

.item4 {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-right:20px;
	padding-left: 20px;
}

.item5 {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-right:20px;
}
