@font-face {
    font-family: IranSans;
    src: url(./Resources/fonts/IRAN\ Sans\ Regular\ \(mmrostami.blog.ir\).ttf);


}

* {
    font-family: IranSans;
}

body {
    font-family: IranSans;
    box-sizing: border-box;
    margin: 0;
}
